@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Event
@{
    ViewData["Title"] = "Events Schedule";
}

<div class="text-center main-heading">
    <h1>Event Schedule</h1>
</div>

<p>Hello there! Can't see the whole table? Try scrolling the table side-to-side!</p>

<div class="table-container">
    <table class="table-borderless table-striped">
        <tr>
            <th>Event Name</th>
            <th>Event Type</th>
            <th>Description</th>
            <th>Date/Time</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>EventTypeID</td>
            <td>Description </td>
            <td>DateTime</td>
            <td>Duration</td>
        </tr>
    </table>
</div>