@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-heading">
    <h1>Events Plus Ltd - Events Management System</h1>
</div>
<div class="row home-select">
    <div class="col-md-3">
        <p><a asp-area="" asp-controller="Events" asp-action="Index">Manage Events</a></p>
    </div>
    <div class="col-md-3">
        <p><a asp-area="" asp-controller="Managers" asp-action="Index">Manage Organisers</a></p>
    </div>
    <div class="col-md-3">
        <p><a asp-area="" asp-controller="Attendees" asp-action="Index">Manage Attendees</a></p>
    </div>
    <div class="col-md-3 last">
        <p><a asp-area="" asp-controller="Events" asp-action="Schedule">View Schedule</a></p>
    </div>
</div>