@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center main-heading">
    <h1>Events Plus Ltd - Events Management System</h1>
</div>
<div class="row home-select">
    <div class="col-md-3">
        <p><a>Manage Events</a></p>
    </div>
    <div class="col-md-3">
        <p><a>Manage Organisers</a></p>
    </div>
    <div class="col-md-3">
        <p><a>Manage Attendees</a></p>
    </div>
    <div class="col-md-3">
        <p><a>View Schedule</a></p>
    </div>
</div>