<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Events Plus</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Sidebar/Navbar --> 
    <div class="row layout-row">
        <div class="col-md-2 bg-dark">
            <nav id="mySidebar" class="navbar navbar-dark text-white navbar-toggleable-sm">
                <h2><a href="/" class="navbar-brand">Events Plus</a></h2>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navArea" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navArea" class="nav navbar-collapse flex-column collapse">
                    <p id="menuItem" class="nav-link event-link">Events</p>
                    <ul id="eventMenu" class="bg-light">
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Events" asp-action="Create">Add Event</a></li>
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Events" asp-action="Index">Manage Events</a></li>
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="EventTypes" asp-action="Index">Manage Event Types</a></li>
                    </ul>
                    <p id="menuItem" class="nav-link manager-link">Managers</p>
                    <ul id="managerMenu" class="bg-light">
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Managers" asp-action="Create">Add Manager</a></li>
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Managers" asp-action="Index">Manage Managers</a></li>
                    </ul>
                    <p id="menuItem" class="nav-link attendee-link">Attendees</p>
                    <ul id="attendeeMenu" class="bg-light">
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Attendees" asp-action="Create">Add Attendee</a></li>
                        <li class="nav-sub-link text-dark"><a asp-area="" asp-controller="Attendees" asp-action="Index">Manage Attendees</a></li>
                    </ul>
                    <a class="nav-link text-white" id="menuItem" asp-area="" asp-controller="Events" asp-action="Schedule">View Schedule</a>
                    <a class="nav-link text-white" id="menuItem" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </div>

        <!-- Main Page Content -->
        <div class="col-md-10">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
